<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <message>message</message>
                <thread>threadName</thread>
                <level>logLevel</level>
                <logger>loggerName</logger>
                <stackTrace>stackTrace</stackTrace>
                <version>[ignore]</version> </fieldNames>
            <customFields>{"service_name":"${spring.application.name:-api-testing-framework}","environment":"${api-settings.environment:-development}"}</customFields>
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service_name":"${spring.application.name:-api-testing-framework}","environment":"${api-settings.environment:-development}"}</customFields>
            <includeMdc>true</includeMdc>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
        <appender-ref ref="FILE_JSON"/>
    </root>

    <logger name="solutions.bjjeire" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_JSON"/>
        <appender-ref ref="FILE_JSON"/>
    </logger>

    <logger name="org.springframework" level="INFO"/>
    <logger name="reactor.netty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="com.jayway.jsonpath" level="INFO"/>
</configuration>